<div
    class="bg-white/30 backdrop-blur-md rounded-lg p-4 max-w-sm text-left text-white drop-shadow-lg"
>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat aliquid
    hic rem possimus aspernatur distinctio earum quae, quia eos obcaecati
    blanditiis doloremque ullam reprehenderit officia?
</div>
