---
import Layout from "../layouts/Layout.astro";
import homeValuationBg from "../assets/images/home-valuation-bg.webp";
import SimpleNavbar from "../layouts/SimpleNavbar.astro";
import Footer from "../layouts/Footer.astro";
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>California Residence - Home Valuation</title>
        <link rel="stylesheet" href="/style/custom.css" />
    </head>
    <body class="overflow-hidden overflow-y-auto bg-body">
        <SimpleNavbar />
        <main class="flex flex-col overflow-hidden">
            <div class="flex flex-col md:flex-row">
                <div
                    class="p-4 flex-1 min-h-[500px] bg-cover bg-center rounded-bl-[50px]"
                    style={`background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(${homeValuationBg.src});`}
                >
                </div>
                <div class="bg-[#FAF4F0] px-4 py-8 flex-1">
                    <h2
                        class="text-4xl font-semibold mb-6 text-left text-gray-800 font-italiana"
                    >
                        Get Your Home <br /> Estimation
                    </h2>
                    <form
                        class="space-y-6"
                        action="https://formspree.io/f/xgvlboow"
                        method="POST"
                    >
                        <!-- Row of inputs -->
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <input
                                type="text"
                                name="firstName"
                                placeholder="First Name"
                                required
                                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400"
                            />
                            <input
                                type="text"
                                name="lastName"
                                placeholder="Last Name"
                                required
                                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400"
                            />
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <input
                                type="email"
                                name="email"
                                placeholder="Email"
                                required
                                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400"
                            />
                            <input
                                type="tel"
                                name="mobile"
                                placeholder="Mobile"
                                required
                                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400"
                            />
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                            <input
                                type="text"
                                name="country"
                                placeholder="Country"
                                required
                                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400"
                            />
                            <input
                                type="text"
                                name="state"
                                placeholder="State"
                                required
                                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400"
                            />
                            <input
                                type="text"
                                name="city"
                                placeholder="City"
                                required
                                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400"
                            />
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <input
                                type="text"
                                name="address"
                                placeholder="Address"
                                required
                                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400"
                            />
                            <input
                                type="text"
                                name="zip"
                                placeholder="Zip"
                                required
                                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400"
                            />
                        </div>

                        <!-- Textarea -->
                        <textarea
                            name="message"
                            rows="4"
                            placeholder="Message"
                            required
                            class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400"
                        ></textarea>

                        <!-- Button -->
                        <button
                            type="submit"
                            class="relative overflow-hidden px-6 py-2 rounded-lg font-medium text-white bg-[#C5A249] border border-[#C5A249] transition-all duration-300 group"
                        >
                            <span
                                class="absolute left-0 top-0 h-full w-0 bg-white transition-all duration-300 group-hover:w-full"
                            ></span>
                            <span
                                class="relative z-10 group-hover:text-[#C5A249]"
                            >
                                Send Email
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>
