---
import AgentCard from "../components/cards/agentCard.astro";
import Hero from "../components/sections/Hero.astro";
import Properties from "../components/sections/Properties.astro";
import Reviews from "../components/sections/Reviews.astro";
import Services from "../components/sections/services.astro";
import Staff from "../components/sections/staff.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="California Residence">
  <main class="flex flex-col overflow-hidden">
    <Hero />
    <Properties />
    <Services />
    <Staff />
    <Reviews />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem voluptates
      quam vel pariatur cupiditate commodi harum accusantium nisi natus debitis
      consectetur a aliquam eos aliquid doloremque, suscipit sit adipisci! Quos
      magni hic officia laborum corrupti voluptas deserunt et tenetur, vero
      nulla sapiente repellendus, amet accusantium repudiandae consequatur quo
      praesentium. Unde ea repellendus adipisci facilis, tempore voluptatum.
      Eveniet ratione saepe non nihil, architecto ducimus molestiae recusandae
      error. Eos odio accusantium quidem eum molestias, sit nisi assumenda natus
      quas, recusandae ipsa distinctio placeat quod reprehenderit quaerat?
      Explicabo quo necessitatibus, quasi quae eveniet voluptates animi odio
      accusantium sapiente dolor quos dolorum eaque ipsa optio alias voluptate
      eos autem minima culpa! Fugit soluta, excepturi hic quisquam molestias
      laborum odio incidunt sapiente dignissimos possimus, sequi officia
      distinctio cupiditate! Autem tempora placeat quo fugit vitae officia
      explicabo magni animi obcaecati sunt laudantium in error dolores quas
      sequi, possimus incidunt odit ipsam voluptates numquam! Vel, commodi.
      Nihil iste magni doloribus neque. Consequatur molestias minima facilis
      nobis numquam cum, ea iusto ipsum sit quisquam fugit incidunt eligendi
      harum voluptate quaerat accusamus! Ratione, quam a, impedit error omnis
      tempora accusantium laudantium alias sint dolores nihil, minima provident
      voluptate sapiente qui ex amet porro unde? Reiciendis modi ad saepe
      tempora! Optio saepe similique alias officiis rerum maxime vero sapiente
      dicta voluptas, aut, nisi enim itaque et laborum mollitia? Quibusdam eius
      ab commodi hic quae libero assumenda sed cumque! Inventore repellendus
      dicta unde. Alias, officia quam! In facere suscipit facilis magnam illo.
      Vitae necessitatibus expedita saepe tempore excepturi doloribus nisi
      beatae nulla quos, asperiores, illum dolor dolores fugiat accusamus
      voluptatibus perspiciatis ea aut, delectus qui. Iste dolores dolorum sint
      veritatis? Quod voluptatibus quibusdam distinctio reiciendis laudantium?
      Illum, aut tempora? Deserunt quia minima quis est provident ea suscipit
      tempore saepe harum numquam aliquam impedit ab, sed animi ullam? Rerum quo
      qui iusto voluptatem facilis minima, nostrum quod nihil quae molestiae
      beatae ipsum possimus voluptatibus consectetur numquam ad voluptatum, nisi
      eum porro quibusdam. Consequuntur facere aliquid ea? Facilis nulla aliquam
      doloribus impedit at molestiae, nihil nisi dolor vitae excepturi,
      laboriosam, cumque ipsum odio nostrum optio accusamus. Maxime porro ullam,
      neque ab rerum doloribus pariatur dolorem consequuntur optio illo quo,
      quae dicta. Est amet exercitationem quasi facere fuga et sapiente sunt
      tenetur at numquam quaerat corporis deleniti, quas minima architecto
      tempore suscipit! Harum inventore blanditiis quia cumque praesentium
      accusantium commodi id molestias nisi itaque eveniet, corporis accusamus
      voluptatem sint excepturi incidunt eum ullam nihil et. Sunt dolorum
      recusandae incidunt, quo natus assumenda adipisci expedita sit dignissimos
      amet fugit officia ratione eligendi impedit eius quod enim omnis minima
      porro optio reiciendis! Perspiciatis commodi doloremque asperiores
      similique dolorem debitis quidem deleniti ex sint libero, eaque
      consequatur quisquam saepe obcaecati illum esse veritatis hic! Fuga facere
      iusto dolorem facilis animi laboriosam voluptatem sapiente? Hic
      voluptatibus, eligendi aut nulla nostrum ut consequatur. Voluptatem dolore
      neque voluptas reprehenderit, molestias odio vero ipsam harum ut,
      veritatis sequi inventore quibusdam possimus quidem magni facilis
      voluptatum nemo officia delectus sit. Fuga optio culpa delectus. Magnam,
      impedit quasi eum deleniti earum maiores et?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem voluptates
      quam vel pariatur cupiditate commodi harum accusantium nisi natus debitis
      consectetur a aliquam eos aliquid doloremque, suscipit sit adipisci! Quos
      magni hic officia laborum corrupti voluptas deserunt et tenetur, vero
      nulla sapiente repellendus, amet accusantium repudiandae consequatur quo
      praesentium. Unde ea repellendus adipisci facilis, tempore voluptatum.
      Eveniet ratione saepe non nihil, architecto ducimus molestiae recusandae
      error. Eos odio accusantium quidem eum molestias, sit nisi assumenda natus
      quas, recusandae ipsa distinctio placeat quod reprehenderit quaerat?
      Explicabo quo necessitatibus, quasi quae eveniet voluptates animi odio
      accusantium sapiente dolor quos dolorum eaque ipsa optio alias voluptate
      eos autem minima culpa! Fugit soluta, excepturi hic quisquam molestias
      laborum odio incidunt sapiente dignissimos possimus, sequi officia
      distinctio cupiditate! Autem tempora placeat quo fugit vitae officia
      explicabo magni animi obcaecati sunt laudantium in error dolores quas
      sequi, possimus incidunt odit ipsam voluptates numquam! Vel, commodi.
      Nihil iste magni doloribus neque. Consequatur molestias minima facilis
      nobis numquam cum, ea iusto ipsum sit quisquam fugit incidunt eligendi
      harum voluptate quaerat accusamus! Ratione, quam a, impedit error omnis
      tempora accusantium laudantium alias sint dolores nihil, minima provident
      voluptate sapiente qui ex amet porro unde? Reiciendis modi ad saepe
      tempora! Optio saepe similique alias officiis rerum maxime vero sapiente
      dicta voluptas, aut, nisi enim itaque et laborum mollitia? Quibusdam eius
      ab commodi hic quae libero assumenda sed cumque! Inventore repellendus
      dicta unde. Alias, officia quam! In facere suscipit facilis magnam illo.
      Vitae necessitatibus expedita saepe tempore excepturi doloribus nisi
      beatae nulla quos, asperiores, illum dolor dolores fugiat accusamus
      voluptatibus perspiciatis ea aut, delectus qui. Iste dolores dolorum sint
      veritatis? Quod voluptatibus quibusdam distinctio reiciendis laudantium?
      Illum, aut tempora? Deserunt quia minima quis est provident ea suscipit
      tempore saepe harum numquam aliquam impedit ab, sed animi ullam? Rerum quo
      qui iusto voluptatem facilis minima, nostrum quod nihil quae molestiae
      beatae ipsum possimus voluptatibus consectetur numquam ad voluptatum, nisi
      eum porro quibusdam. Consequuntur facere aliquid ea? Facilis nulla aliquam
      doloribus impedit at molestiae, nihil nisi dolor vitae excepturi,
      laboriosam, cumque ipsum odio nostrum optio accusamus. Maxime porro ullam,
      neque ab rerum doloribus pariatur dolorem consequuntur optio illo quo,
      quae dicta. Est amet exercitationem quasi facere fuga et sapiente sunt
      tenetur at numquam quaerat corporis deleniti, quas minima architecto
      tempore suscipit! Harum inventore blanditiis quia cumque praesentium
      accusantium commodi id molestias nisi itaque eveniet, corporis accusamus
      voluptatem sint excepturi incidunt eum ullam nihil et. Sunt dolorum
      recusandae incidunt, quo natus assumenda adipisci expedita sit dignissimos
      amet fugit officia ratione eligendi impedit eius quod enim omnis minima
      porro optio reiciendis! Perspiciatis commodi doloremque asperiores
      similique dolorem debitis quidem deleniti ex sint libero, eaque
      consequatur quisquam saepe obcaecati illum esse veritatis hic! Fuga facere
      iusto dolorem facilis animi laboriosam voluptatem sapiente? Hic
      voluptatibus, eligendi aut nulla nostrum ut consequatur. Voluptatem dolore
      neque voluptas reprehenderit, molestias odio vero ipsam harum ut,
      veritatis sequi inventore quibusdam possimus quidem magni facilis
      voluptatum nemo officia delectus sit. Fuga optio culpa delectus. Magnam,
      impedit quasi eum deleniti earum maiores et?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem voluptates
      quam vel pariatur cupiditate commodi harum accusantium nisi natus debitis
      consectetur a aliquam eos aliquid doloremque, suscipit sit adipisci! Quos
      magni hic officia laborum corrupti voluptas deserunt et tenetur, vero
      nulla sapiente repellendus, amet accusantium repudiandae consequatur quo
      praesentium. Unde ea repellendus adipisci facilis, tempore voluptatum.
      Eveniet ratione saepe non nihil, architecto ducimus molestiae recusandae
      error. Eos odio accusantium quidem eum molestias, sit nisi assumenda natus
      quas, recusandae ipsa distinctio placeat quod reprehenderit quaerat?
      Explicabo quo necessitatibus, quasi quae eveniet voluptates animi odio
      accusantium sapiente dolor quos dolorum eaque ipsa optio alias voluptate
      eos autem minima culpa! Fugit soluta, excepturi hic quisquam molestias
      laborum odio incidunt sapiente dignissimos possimus, sequi officia
      distinctio cupiditate! Autem tempora placeat quo fugit vitae officia
      explicabo magni animi obcaecati sunt laudantium in error dolores quas
      sequi, possimus incidunt odit ipsam voluptates numquam! Vel, commodi.
      Nihil iste magni doloribus neque. Consequatur molestias minima facilis
      nobis numquam cum, ea iusto ipsum sit quisquam fugit incidunt eligendi
      harum voluptate quaerat accusamus! Ratione, quam a, impedit error omnis
      tempora accusantium laudantium alias sint dolores nihil, minima provident
      voluptate sapiente qui ex amet porro unde? Reiciendis modi ad saepe
      tempora! Optio saepe similique alias officiis rerum maxime vero sapiente
      dicta voluptas, aut, nisi enim itaque et laborum mollitia? Quibusdam eius
      ab commodi hic quae libero assumenda sed cumque! Inventore repellendus
      dicta unde. Alias, officia quam! In facere suscipit facilis magnam illo.
      Vitae necessitatibus expedita saepe tempore excepturi doloribus nisi
      beatae nulla quos, asperiores, illum dolor dolores fugiat accusamus
      voluptatibus perspiciatis ea aut, delectus qui. Iste dolores dolorum sint
      veritatis? Quod voluptatibus quibusdam distinctio reiciendis laudantium?
      Illum, aut tempora? Deserunt quia minima quis est provident ea suscipit
      tempore saepe harum numquam aliquam impedit ab, sed animi ullam? Rerum quo
      qui iusto voluptatem facilis minima, nostrum quod nihil quae molestiae
      beatae ipsum possimus voluptatibus consectetur numquam ad voluptatum, nisi
      eum porro quibusdam. Consequuntur facere aliquid ea? Facilis nulla aliquam
      doloribus impedit at molestiae, nihil nisi dolor vitae excepturi,
      laboriosam, cumque ipsum odio nostrum optio accusamus. Maxime porro ullam,
      neque ab rerum doloribus pariatur dolorem consequuntur optio illo quo,
      quae dicta. Est amet exercitationem quasi facere fuga et sapiente sunt
      tenetur at numquam quaerat corporis deleniti, quas minima architecto
      tempore suscipit! Harum inventore blanditiis quia cumque praesentium
      accusantium commodi id molestias nisi itaque eveniet, corporis accusamus
      voluptatem sint excepturi incidunt eum ullam nihil et. Sunt dolorum
      recusandae incidunt, quo natus assumenda adipisci expedita sit dignissimos
      amet fugit officia ratione eligendi impedit eius quod enim omnis minima
      porro optio reiciendis! Perspiciatis commodi doloremque asperiores
      similique dolorem debitis quidem deleniti ex sint libero, eaque
      consequatur quisquam saepe obcaecati illum esse veritatis hic! Fuga facere
      iusto dolorem facilis animi laboriosam voluptatem sapiente? Hic
      voluptatibus, eligendi aut nulla nostrum ut consequatur. Voluptatem dolore
      neque voluptas reprehenderit, molestias odio vero ipsam harum ut,
      veritatis sequi inventore quibusdam possimus quidem magni facilis
      voluptatum nemo officia delectus sit. Fuga optio culpa delectus. Magnam,
      impedit quasi eum deleniti earum maiores et?
    </p>
  </main>
</Layout>
