---
import AgentCard from "../components/cards/agentCard.astro";
import Hero from "../components/sections/Hero.astro";
import Properties from "../components/sections/Properties.astro";
import Reviews from "../components/sections/Reviews.astro";
import Services from "../components/sections/services.astro";
import Staff from "../components/sections/staff.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="California Residence">
  <main class="flex flex-col overflow-hidden">
    <Hero />
    <Properties />
    <Services />
    <Staff />
    <Reviews />
  </main>
</Layout>
