---
import logo from "../assets/logos/logo.png";

const currentYear = new Date().getFullYear();
---

<footer class="bg-white text-black py-10 font-roboto">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Column 1 -->
      <div>
        <h3 class="text-lg font-semibold mb-4 text-[#1B3942] font-italiana">
          California Residence
        </h3>
        <div class="mx-auto">
          <img src={logo.src} alt="Logo" class="h-[65px]" />
        </div>
      </div>

      <!-- Column 2 -->
      <div>
        <h3 class="text-lg font-semibold mb-4 text-[#1B3942] font-italiana">
          Visit Us
        </h3>
        <ul class="space-y-2">
          <li>
            <a href="#" class="hover:underline"
              >1234 Sunset Blvd, Los Angeles, CA 90026, United States</a
            >
          </li>
          <li>
            <a href="tel:+12067410340" class="hover:underline"
              >+1 206-741-0340</a
            >
          </li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div>
        <h3 class="text-lg font-semibold mb-4 text-[#1B3942] font-italiana">
          Working Hours
        </h3>
        <ul class="space-y-2">
          <li><a href="#" class="hover:underline">Monday – Friday</a></li>
          <li><a href="#" class="hover:underline">09:00 am – 09:00 pm</a></li>
          <li>
            <a href="#" class="hover:underline">Saturday – Sunday – Closed</a>
          </li>
        </ul>
      </div>

      <!-- Column 4 -->
      <div>
        <h3 class="text-lg font-semibold mb-4 text-[#1B3942] font-italiana">
          Quick Links
        </h3>
        <ul class="space-y-2">
          <li>
            <a href="" class="hover:underline">Contact</a>
          </li>
          <li>
            <a href="" class="hover:underline">Property Valuation</a>
          </li>
          <li>
            <a href="" class="hover:underline">Blogs</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Bottom bar -->
    <div
      class="border-t border-gray-300 mt-10 pt-6 text-center text-sm text-gray-500"
    >
      © {currentYear} California Residence · Website by
      <a href="https://youragency.com" class="hover:underline">EasyListings</a>
    </div>
  </div>
</footer>
